.arrow-down {
    width: 0;
    height: 0;
    margin: 10px auto 30px auto;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #e0e0e0; /* cor da seta */
  }